
 <% if logged_in? %>
 <% div_for post do %>
      <p><b>Posted <%= time_ago_in_words(post.created_at) %> ago</b></p>
      <p><%= post.message %></p>
      <h3><%= pluralize(post.comments.count, "comment")  %> </h3>
      <% post.comments.each do |comment| %>
      <p><%= comment.body  %> </p>
      <% end %>
      <%= link_to "Add Comment", new_post_comment_path(post) %>
    <% end %>
    
<%end%>
